{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["react", "@typescript-eslint", "eslint-plugin-prettier"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@next/next/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "react/function-component-definition": [
      1,
      { "namedComponents": "arrow-function" }
    ],
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "no-unused-vars": "warn",
    "import/prefer-default-export": "off",
    "camelcase": "off",
    "no-useless-escape": "warn",
    "no-use-before-define": "off",
    "no-alert": "off",
    "no-return-assign": "off"
  }
}
